

@media (max-width: 322.99px) {
  .dahong-h-carousel {
  margin-top: 3%;
  width: 250px;
  height: 150px !important;
  }
  .dahong-h-c-image {
  width: 250px; 
  height: 150px !important;
  }
  .dahong-h-mediaimage {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  }
.dahong-store-edit-btn {
  width: 100%;
  display: inline-block;
  margin-bottom: 5%;
  background-color: #ff6c6c;
  color: white !important;
  border-radius: 20px;
  font-size: 1em;
  padding: 5% 0;
  }
.dahong-store-delete-btn {
  width: 100%;
  display: inline-block;
  margin-bottom: 5%;
  background-color:#ff5050;
  color: white !important;
  border-radius: 20px;
  font-size: 1em;
  padding: 5% 0;
  }
}
@media (min-width: 322.99px) {
  .dahong-h-carousel {
  width: 315px;
  height: 215px !important;
 }

  .dahong-h-c-image {
  width: 315px; 
  height: 215px !important;
  }
 .dahong-h-mediaimage {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  }
  .dahong-store-edit-btn {
  width: 100%;
  display: inline-block;
  margin-bottom: 5%;
  background-color: #ff6c6c;
  color: white !important;
  border-radius: 20px;
  font-size: 1em;
  padding: 5% 0;
  }
.dahong-store-delete-btn {
  width: 100%;
  display: inline-block;
  margin-bottom: 5%;
  background-color:#ff5050;
  color: white !important;
  border-radius: 20px;
  font-size: 1em;
  padding: 5% 0;
  }
}

@media (min-width: 470px) { 
  .dahong-h-carousel {
  width: 450px;
  height: 350px !important;
 }
  .dahong-h-c-image {
  width: 450px; 
  height: 350px !important;
  }
  .dahong-h-mediaimage {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  }
  .dahong-store-edit-btn {
  width: 100%;
  display: inline-block;
  margin-bottom: 5%;
  background-color: #ff6c6c;
  color: white !important;
  border-radius: 20px;
  font-size: 1em;
  padding: 5% 0;
  }
.dahong-store-delete-btn {
  width: 100%;
  display: inline-block;
  margin-bottom: 5%;
  background-color:#ff5050;
  color: white !important;
  border-radius: 20px;
  font-size: 1em;
  padding: 5% 0;
  }
}


@media (min-width: 624.98px) {
    .dahong-h-carousel {
  width: 600px; 
  height: 400px !important;
 }
  .dahong-h-c-image {
  width: 600px; 
  height: 400px !important;
  }
  .dahong-h-mediaimage {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  }
  .dahong-store-edit-btn {
  width: 100%;
  display: inline-block;
  margin-bottom: 5%;
  color: white !important;
  border: 0px #ff6c6c solid;
  border-radius: 20px;
  font-size: 1em;
  padding: 5% 0;
  }
.dahong-store-delete-btn {
  width: 100%;
  display: inline-block;
  margin-bottom: 5%;
  background-color:#ff5050;
  color: white !important;
  border-radius: 20px;
  font-size: 1em;
  padding: 5% 0;
  }
}

@media (min-width: 991.99px) {
  .dahong-h-carousel {
  width: 700px; 
  height: 450px !important;
 }
  .dahong-h-c-image {
  width: 700px; 
  height: 450px !important;
  }
   .dahong-h-mediaimage {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  
  }
  .dahong-store-edit-btn {
  width: 100%;
  display: inline-block;
  margin-bottom: 5%;
  background-color: #ff6c6c;
  color: white !important;

  border-radius: 20px;
  font-size: 1.7em;
  padding: 2% 0;
  }
.dahong-store-delete-btn {
  width: 100%;
  display: inline-block;
  margin-bottom: 5%;
  background-color:#ff5050;
  color: white !important;
  border-radius: 20px;
  font-size: 1.7em;
  padding: 2% 0;
  }
}


.dahong-h-center {
  margin: 0 auto;
}

#h-footer {
   bottom:0;
   width:100%;
   height: 10vh;
   position: relative;
   background-color: #ff5050 !important; 
}
.dahong-store-show-store_name{
    font-family: 'Stylish';
    font-size: 3em;
}


.row_for_show {
  margin-left: 10%;
  margin-right: 10%;
}
.col_for_show {
  padding-left: 1%;
  padding-right: 1%;
}

.dahong-show-col{
  text-align: right;
}